* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  background-color: #eaedf6;
  color: #444941;
  font-family: "Poppins", sans-serif;
}
.fs-2 {
  font-size: 2rem;
}
button {
    cursor: pointer;
}

/* navbar */

nav div {
  margin-top: 15%;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav i {
  font-size: 1.5rem;
}

nav div a {
  color: #444941;
}
nav div h2 {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}
nav div h2 span {
  color: #fe6c38;
}

/* input search */
section form {
  margin: 10% 5% 0 5%;
}
section form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section form input {
  border: none;
  background-color: #fff;
  width: 75vw;
  height: 2.5rem;
  border-radius: 5px;
  padding-left: 5%;
}
section form input::placeholder {
  color: #444941;
  font-size: 15px;
}
section form button {
  height: 2.5rem;
  width: 10vw;
  border: none;
  background-color: #fe6c38;
  color: #fff;
  border-radius: 5px;
}

/* banner */

.banner-img {
    display: none;
}
section.banner {
    margin: 10% 0 20% 0;
}

.banner div:first-child {
    margin: 0 0 5% 5%;
}

section.banner div img {
    height: 30vh;
}
section.banner div:last-child {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.rec-info {
    display: flex;
    flex-direction: column;
}
.rec-info h3 {
    font-size: 30px;
    margin-bottom: 5%;
}
.rec-info div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.rec-info a {
    width: 40vw;
    height: 2.5rem;
    line-height: 2.5rem;
    border: none;
    margin-bottom: 5%;
    color: #fff;
    background-color: #fe6c38;
    text-align: center;
    border-radius: 5px;
}
.rec-info a i {
    margin-right: 2%;
}
.rec-info a:last-child {
    background-color: #fff;
    color: #fe6c38;
}

/* week highlight */
.highlight {
  margin: 10% 5% 0 5%;
}
.highlight div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2%;
}
.box-movie {
  display: block;
}
img {
  width: 50vw !important;
  height: 40vh !important;
  border-radius: 5px;
}

/* footer */

footer {
  width: 100%;
  background-color: #fe6c38;
  margin-top: 10%;
  padding-bottom: 10%;
}
footer div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div div {
  margin: 10% 5% 10% 5%;
}
footer a {
  color: #fff;
  font-size: 15px;
  padding: 2% 15%;
  border: 1px solid #fff;
}
footer h2 {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
  color: #fff;
}
footer p {
  margin-left: 5%;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
}

/* responsive */
@media (min-width: 768px) {

    
    nav .fs-2 {
        font-size: 4rem;
    }

    .fs-2 {
        font-size: 2.5rem;
    }

    nav div {
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav i {
        font-size: 3rem;
    }

    nav div a {
        color: #444941;
    }
    nav div h2 {
        font-family: "Comfortaa", cursive;
        font-weight: 600;
    }
    nav div h2 span {
        color: #fe6c38;
    }

    /* input search */
    section form {
        margin: 10% 5% 0 5%;
    }
    section form div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section form input {
        border: none;
        background-color: #fff;
        width: 75vw;
        height: 4rem;
        border-radius: 5px;
        padding-left: 5%;
    }
    section form input::placeholder {
        color: #444941;
        font-size: 25px;
    }
    section form button {
        height: 4rem;
        width: 10vw;
        border: none;
        background-color: #fe6c38;
        color: #fff;
        border-radius: 5px;
    }

    section form button i {
        font-size: 1.5rem;
    }

    /* banner */ 
    .banner-img {
        display: none;
    }
    .banner div:first-child {
        margin: 0 0 5% 5%;
        font-size: 1.8rem;
    }
    
    section.banner div:last-child {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .rec-info h3 {
        font-size: 3rem;
        margin-bottom: 5%;
    }
    .rec-info a {
        width: 40vw;
        height: 4rem;
        line-height: 4rem;
        border: none;
        margin-bottom: 5%;
        color: #fff;
        font-size: 1.5rem;
        background-color: #fe6c38;
        text-align: center;
        border-radius: 5px;
    }

    /* week highlight */
    .highlight {
        margin: 10% 5% 0 5%;
    }
    .highlight div:first-child {
        font-size: 1.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.2%;
    }
    .box-movie {
        display: block;
    }
    img {
        width: 40vw !important;
        height: 40vh !important;
        border-radius: 5px;
    }

    /* footer */

    footer {
        width: 100%;
        background-color: #fe6c38;
        margin-top: 10%;
        padding-bottom: 10%;
    }
    footer div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer div div {
        margin: 10% 5% 10% 5%;
    }
    footer a {
        color: #fff;
        font-size: 20px;
        padding: 2% 15%;
        border: 1px solid #fff;
    }
    footer h2 {
        font-family: "Comfortaa", cursive;
        font-size: 45px;
        font-weight: 600;
        color: #fff;
    }
    footer p {
        margin-left: 5%;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
    }
}

@media (min-width: 1024px) {
    
    nav .fs-2 {
        font-size: 6rem;
    }

    .fs-2 {
        font-size: 4rem;
    }
    nav div {
        margin-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav i {
        font-size: 4rem;
    }

    nav div a {
        color: #444941;
    }
    nav div h2 {
        font-family: "Comfortaa", cursive;
        font-weight: 600;
    }
    nav div h2 span {
        color: #fe6c38;
    }

    /* input search */
    section form {
        margin: 10% 5% 0 5%;
    }
    section form div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    section form input {
        border: none;
        background-color: #fff;
        width: 75vw;
        height: 6rem;
        border-radius: 5px;
        padding-left: 5%;
    }
    section form input::placeholder {
        color: #444941;
        font-size: 30px;
    }
    section form button {
        height: 6rem;
        width: 10vw;
        border: none;
        background-color: #fe6c38;
        color: #fff;
        border-radius: 5px;
    }

    section form button i {
        font-size: 2rem;
    }

    /* banner */
    .banner-img {
        display: none;
    }
    .banner div:first-child {
        margin: 0 0 5% 5%;
        font-size: 2.2rem;
    }
    section.banner div:last-child {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .rec-info h3 {
        font-size: 4.5rem;
        margin-bottom: 5%;
    }
    .rec-info a {
        width: 40vw;
        height: 6rem;
        line-height: 6rem;
        border: none;
        margin-bottom: 5%;
        color: #fff;
        font-size: 2rem;
        background-color: #fe6c38;
        text-align: center;
        border-radius: 5px;
    }

    /* week highlight */
    .highlight {
        margin: 10% 5% 0 5%;
    }
    .highlight div:first-child {
        font-size: 2.2rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.2%;
    }
    .box-movie {
        display: block;
    }
    img {
        width: 40vw !important;
        height: 40vh !important;
        border-radius: 5px;
    }

    /* footer */

    footer {
        width: 100%;
        background-color: #fe6c38;
        margin-top: 10%;
        padding-bottom: 10%;
    }
    footer div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer div div {
        margin: 10% 5% 10% 5%;
    }
    footer a {
        color: #fff;
        font-size: 25px;
        padding: 2% 15%;
        border: 1px solid #fff;
    }
    footer h2 {
        font-family: "Comfortaa", cursive;
        font-size: 60px;
        font-weight: 600;
        color: #fff;
    }
    footer p {
        margin-left: 5%;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
    }
}

@media (min-width: 1200px) {
    
    nav .fs-2 {
        font-size: 2rem;
    }

    .fs-2 {
        font-size: 2rem;
    }

    nav div {
        margin-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav i {
        font-size: 1.5rem;
    }

    nav div a {
        color: #444941;
    }
    nav div h2 {
        font-family: "Comfortaa", cursive;
        font-weight: 600;
    }
    nav div h2 span {
        color: #fe6c38;
    }

    /* input search */
    section form {
        margin: 3% 5% 0 5%;
    }
    section form div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    section form input {
        border: none;
        background-color: #fff;
        width: 50vw;
        height: 2.5rem;
        border-radius: 5px;
        padding-left: 2%;
        margin-right: 3%;
    }
    section form input::placeholder {
        color: #444941;
        font-size: 15px;
    }
    section form button {
        height: 2.5rem;
        width: 5vw;
        border: none;
        background-color: #fe6c38;
        color: #fff;
        border-radius: 5px;
    }

    section form button i {
        font-size: 1rem;
    }

    /* banner */
    .banner-img {
        width: 40% !important;
        display: inline;
    }
    .poster {
        display: none;
    }
    section.banner {
        margin: 5% 0 10% 0;
    }
    
    .banner div:first-child {
        margin: 0 0 2% 5%;
        font-size: 1rem;
    }

    .rec-info h3 {
        font-size: 3rem;
        margin-bottom: 5%;
    }
    .rec-info div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
    }
    .rec-info a {
        width: 20vw;
        height: 3rem;
        line-height: 3rem;
        border: none;
        margin-bottom: 5%;
        color: #fff;
        font-size: 18px;
        background-color: #fe6c38;
        text-align: center;
        border-radius: 5px;
    }
    .rec-info a i {
        margin-right: 2%;
    }
    .rec-info a:last-child {
        background-color: #fff;
        color: #fe6c38;
    }

    /* week highlight */
    .highlight {
        margin: 3% 5% 0 5%;
    }
    .highlight div:first-child {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.2%;
    }
    .box-movie {
        display: block;
    }
    img {
        width: 15vw !important;
        height: 40vh !important;
        border-radius: 5px;
    }

    /* footer */

    footer {
        width: 100%;
        background-color: #fe6c38;
        margin-top: 10%;
        padding-bottom: 5%;
    }
    footer div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    footer div div {
        margin: 5%;
    }
    footer a {
        color: #fff;
        font-size: 15px;
        padding: 2% 15%;
        border: 1px solid #fff;
    }
    footer a:hover {
        color: #fe6c38;
        border-color: #fe6c38;
        background-color: #fff;
        transition: .3s;
    }
    footer h2 {
        font-family: "Comfortaa", cursive;
        font-size: 30px;
        font-weight: 600;
        color: #fff;
    }
    footer p {
        margin-left: 5%;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
    }
}