* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body {
    background-color: #EAEDF6;
    color: #444941;
    font-family: 'Poppins', sans-serif;
}

.fs-2 {
    font-size: 2rem;
}

/* navbar */
nav div a {
    color: #444941;
}
nav div h2 {
    margin: 15% 10px 0px 5%;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
nav div h2 span {
    color: #FE6C38;
}

/* section login */
.login {
    margin-top: 15%;
}

.login div h3 {
    margin-left: 5%;
    font-weight: 600;
}
.login-form {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    
}
.login-form input {
    border: none;
    width: 90vw;
    height: 3.5rem;
    border-radius: 5px;
    background-color: #C5C7D0;
    padding-left: 5%;
}
.login-form input:first-child {
    margin-bottom: 5%;
}
.login-form input::placeholder {
    color: #444941;
    font-size: 16px;
}
.login-form a {
    color: #34668A;
    font-weight: 600;
}
.login-form button {
    margin-top: 10%;
    width: 90vw;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background-color: #FE6C38;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.back-login {
    margin-top: 5%;
}

/* register link */
.register-link div {
    margin: 10% 0 20% 5%;
}

.register-link p {
    font-size: 20px;
    font-weight: 5000;
}

.register-link a {
    color: #34668A;
    font-weight: 600;
    font-size: 25px;
}

@media (min-width: 768px) {
    
    nav .fs-2 {
        font-size: 4rem;
    }

    .fs-2 {
        font-size: 2.5rem;
    }
    
    /* navbar */
    nav div h2 {
        margin: 10% 0px 0px 5%;
        font-family: 'Comfortaa', cursive;
        font-weight: 600;
    }
    
    /* section login */
    .login {
        margin-top: 10%;
    }
    
    .login div h3 {
        margin-left: 5%;
        font-weight: 600;
    }
    .login-form {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        
    }
    .login-form input {
        border: none;
        width: 90vw;
        height: 4.5rem;
        border-radius: 5px;
        background-color: #C5C7D0;
        padding-left: 5%;
    }
    .login-form input::placeholder {
        color: #444941;
        font-size: 22px;
    }
    .login-form a {
        color: #34668A;
        font-weight: 500;
        font-size: 25px;
    }
    .login-form button {
        margin-top: 10%;
        width: 90vw;
        height: 4rem;
        border: none;
        border-radius: 5px;
        background-color: #FE6C38;
        color: #FFF;
        font-size: 22px;
        font-weight: 600;
    }
    
    /* register link */
    .register-link div {
        margin: 10% 0 20% 5%;
    }
    
    .register-link p {
        font-size: 30px;
        font-weight: 5000;
    }
    
    .register-link a {
        color: #34668A;
        font-weight: 600;
        font-size: 40px;
    }     
}

@media (min-width: 1024px) {
    
    nav .fs-2 {
        font-size: 6rem;
    }

    .fs-2 {
        font-size: 4rem;
    }
    
    /* navbar */
    nav div h2 {
        margin: 10% 0px 0px 5%;
        font-family: 'Comfortaa', cursive;
        font-weight: 600;
    }
    
    /* section login */
    .login {
        margin-top: 10%;
    }
    
    .login div h3 {
        margin-left: 5%;
        font-weight: 600;
    }
    .login-form {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        
    }
    .login-form input {
        border: none;
        width: 90vw;
        height: 7rem;
        border-radius: 5px;
        background-color: #C5C7D0;
        padding-left: 5%;
    }
    .login-form input::placeholder {
        color: #444941;
        font-size: 30px;
    }
    .login-form a {
        color: #34668A;
        font-weight: 500;
        font-size: 35px;
    }
    .login-form button {
        margin-top: 10%;
        width: 90vw;
        height: 6rem;
        border: none;
        border-radius: 5px;
        background-color: #FE6C38;
        color: #FFF;
        font-size: 30px;
        font-weight: 600;
    }
    
    /* register link */
    .register-link div {
        margin: 10% 0 20% 5%;
    }
    
    .register-link p {
        font-size: 40px;
        font-weight: 5000;
    }
    
    .register-link a {
        color: #34668A;
        font-weight: 600;
        font-size: 50px;
    }     
}

@media (min-width: 1200px) {
    
    nav .fs-2 {
        font-size: 2rem;
    }

    .fs-2 {
        font-size: 2rem;
    }
    
    /* navbar */
    nav div h2 {
        margin: 3% 0px 0px 5%;
        font-family: 'Comfortaa', cursive;
        font-weight: 600;
    }
    
    /* section login */
    .login {
        margin-top: 2%;
    }
    .login div:first-child {
        display: flex;
        justify-content: center;
    }
    .login div h3 {
        margin: 0;
        font-size: 30px;
        font-weight: 600;
    }
    .login-form {
        margin-top: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .login-form input {
        border: none;
        width: 30vw;
        height: 3rem;
        border-radius: 5px;
        background-color: #C5C7D0;
        padding-left: 2%;
    }
    .login-form input::placeholder {
        color: #444941;
        font-size: 12px;
    }
    .login-form input:first-child {
        margin-bottom: 5%;
    }
    .login-form a {
        color: #34668A;
        font-weight: 500;
        font-size: 12px;
    }
    .login-form button {
        margin-top: 10%;
        width: 30vw;
        height: 3rem;
        border: none;
        border-radius: 5px;
        background-color: #FE6C38;
        color: #FFF;
        font-size: 15px;
        font-weight: 600;
    }
    
    /* register link */
    .register-link div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 5% 0 3% 0;
    }
    
    .register-link p {
        font-size: 20px;
        font-weight: 5000;
    }
    
    .register-link a {
        color: #34668A;
        font-weight: 600;
        font-size: 30px;
    }     
}