* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  background-color: #eaedf6;
  color: #444941;
  font-family: "Poppins", sans-serif;
}
.fs-2 {
  font-size: 2rem;
}
button {
  cursor: pointer;
}

/* navbar */
nav div {
  margin-top: 15%;
  padding: 0 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav i {
  font-size: 1.5rem;
}
nav div a {
  color: #444941;
}
nav div h2 {
  font-family: "Comfortaa", cursive;
  font-weight: 600;
}
nav div h2 span {
  color: #fe6c38;
}

/* edit user */
.section-edit {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-edit h3 {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 3%;
}
.section-edit i {
  font-size: 5rem;
  margin-bottom: 3%;
  color: #fe6c38;
}
section form input {
  border: none;
  background-color: #fff;
  width: 75vw;
  height: 3.5rem;
  border-radius: 5px;
  padding-left: 5%;
}
section form input::placeholder {
  color: #444941;
  font-size: 18px;
}
.actions {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section-edit button {
  height: 3rem;
  width: 40vw;
  font-size: 17px;
  border: none;
  background-color: #fe6c38;
  color: #fff;
  border-radius: 5px;
}
.section-edit a {
  height: 3rem;
  line-height: 3rem;
  width: 30vw;
  font-size: 17px;
  color: #fe6c38;
  background-color: #fff;
  text-align: center;
}

/* highlight */
.highlight {
  margin: 15% 5%;
}
.highlight div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2%;
}
.box-movie {
  display: block;
}
img {
  width: 50vw !important;
  height: 40vh !important;
  border-radius: 5px;
}

/* responsive */
@media (min-width: 768px) {
  nav .fs-2 {
    font-size: 4rem;
  }
  .fs-2 {
    font-size: 2.5rem;
  }
  nav div {
    margin-top: 10%;
  }
  nav i {
    font-size: 3rem;
  }

  /* edit user */
  .section-edit {
    margin-top: 15%;
  }
  .section-edit h3 {
    font-size: 1.6rem;
  }
  .section-edit i {
    font-size: 8rem;
  }
  section form input {
    height: 5rem;
  }
  section form input::placeholder {
    font-size: 22px;
  }
  .section-edit button {
    height: 5rem;
    font-size: 22px;
  }
  .section-edit a {
    height: 5rem;
    line-height: 5rem;
    font-size: 22px;
  }

  /* highlight */
  .highlight {
    margin: 10% 5% 0 5%;
  }
  .highlight div:first-child {
    font-size: 1.8rem;
  }
  img {
    width: 40vw !important;
  }
}

@media (min-width: 1024px) {
  nav .fs-2 {
    font-size: 6rem;
  }
  .fs-2 {
    font-size: 4rem;
  }
  nav i {
    font-size: 4rem;
  }

  /* edit user */
  .section-edit {
    margin-top: 10%;
  }
  .section-edit h3 {
    font-size: 3.5rem;
  }
  .section-edit i {
    font-size: 10rem;
  }
  section form input {
    height: 7rem;
  }
  section form input::placeholder {
    font-size: 28px;
  }
  .actions {
    margin-bottom: 10%;
  }
  .section-edit button {
    height: 7rem;
    font-size: 28px;
  }
  .section-edit a {
    height: 7rem;
    line-height: 7rem;
    width: 30vw;
    font-size: 28px;
  }

  /* highlight */
  .highlight {
    margin: 10% 5% 0 5%;
  }
  .highlight div:first-child {
    font-size: 2.2rem;
  }
  img {
    width: 40vw !important;
  }
}

@media (min-width: 1200px) {
  nav .fs-2 {
    font-size: 2rem;
  }
  .fs-2 {
    font-size: 2rem;
  }
  nav div {
    margin-top: 5%;
  }

  /* edit user */
  .section-edit {
    margin-top: 7%;
  }
  .section-edit h3 {
    font-size: 1.8rem;
    margin-bottom: 1%;
  }
  section form input {
    width: 30vw;
    height: 3rem;
    border-radius: 5px;
  }
  section form input::placeholder {
    font-size: 15px;
  }
  .section-edit button {
    height: 3rem;
    width: 15vw;
    font-size: 15px;
    border-radius: 5px;
  }
  .section-edit a {
    height: 3rem;
    line-height: 3rem;
    width: 10vw;
    font-size: 15px;
    color: #fe6c38;
    background-color: #fff;
    text-align: center;
  }

  /* highlight */
  .highlight {
    margin: 3% 5% 0 5%;
  }
  .highlight div:first-child {
    font-size: 1rem;
  }
  img {
    width: 15vw !important;
    border-radius: 5px;
  }
}
